* {
  font-family: "Montserrat", sans-serif;
}

header {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td  {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#res {
  margin: 30px auto;
  font-size: 20px;
}

header > h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  padding: 0;
}

hr {
  margin: 0 40px;
  width: 50%;
}

.startNode {
  background-color: #77dd77;
}

.endNode {
  background-color: #c9111c;
}

.wallNode {
  background-color: #20272c !important;
}

.active {
  background-color: #0077cc;
}

.visited {
  background-color: #ccc;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bout {
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 15%;
  cursor: pointer;
  margin-right: 10px;
}

#btn {
  background-color: #0095ff;
  color: white;
}

#clearBtn {
  color: #0095ff;
  border: 1px solid white;
}

#clearBtn:hover {
  border: 1px solid #0077cc;
}

#btn:hover {
  background-color: #0077cc;
  transition: 0.3s;
}
